.advantages {
  min-height: 562px;
  padding-top: 50px;

  background-color: $color-bg-advantages;
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1024 {
    background-image: url("../../img/advantages-bg-desktop@1x.webp");

    @include retina () {
      background-image: url("../../img/advantages-bg-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    min-height: 588px;
    padding-top: 54px;

    background-image: url("../../img/advantages-bg-tablet@1x.webp");

    @include retina () {
      background-image: url("../../img/advantages-bg-tablet@2x.webp");
    }
  }

  @include vp-767 {
    padding-top: 38px;
    padding-bottom: 15px;

    background-image: url("../../img/advantages-bg-mobile@1x.webp");

    @include retina () {
      background-image: url("../../img/advantages-bg-mobile@2x.webp");
    }
  }
}

.advantages__container {
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding-top: 15px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.advantages h2 {
  margin-bottom: 50px;

  text-align: center;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.advantages__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  @include reset-ul();

  @include vp-767 {
    flex-direction: column;
  }
}

.advantages__item {
  position: relative;

  width: 31%;
  padding: 62px 30px 23px 30px;

  background-color: $color-base-white;
  margin-bottom: 20px;

  @include vp-1023 {
    width: 30.6%;
    padding: 54px 17px 20px 20px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 30px;

    width: 42px;
    height: 32px;

    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;

    @include vp-1023 {
      top: 27px;

      width: 38px;
      height: 26px;
    }
  }

  &--vip {
    &::before {
      background-image: url("../../img/svg/icon-advantage1.svg");

      @include vp-1023 {
        left: 15px;

        transform: scaleX(0.8);
      }
    }
  }

  &--allincluded {
    &::before {
      background-image: url("../../img/svg/icon-advantage2.svg");
    }
  }

  &--zodiac {
    &::before {
      background-image: url("../../img/svg/icon-advantage3.svg");
    }
  }
}

.advantages__item h3 {
  margin-bottom: 10px;

  @include vp-1023 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }

  @include vp-767 {
    max-width: 70%;
  }
}

.advantages__item p {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
