
.contacts {
  margin-bottom: 80px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 92px;
  padding-left: 114px;

  @include vp-1023 {
    padding-right: 45px;
    padding-left: 45px;
  }
  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__map {
  width: 48%;

  @include vp-767 {
    order: 100;
    width: 100%;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 306px;

  @include vp-1023 {
    height: 335px;
  }
  @include vp-767 {
    height: 316px;
  }
}

.contacts__info {
  width: 43%;
  margin-top: 58px;

  margin-left: auto;

  @include vp-767 {
    width: 100%;
  }
}
.contacts__title {
  margin-bottom: 31px;
}
.contacts__item {
  position: relative;

  padding-left: 28px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;

    width: 18px;
    height: 22px;
  }
  &--adress {
    background-image: url("../../img/svg/icon-pin.svg");
    margin-bottom: 20px;
  }
  &--tel {
    background-image: url("../../img/svg/icon-tel.svg");
  }
}
