.footer {
  background-color: $color-bg-primary;
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 93px 50px 103px;

  @include vp-1023 {
    padding-top: 50px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
  }
}

.footer__logo {
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;

  @include reset-ul();

  @include vp-767 {
    flex-direction: column;
    width: 100%;
  }
}

.footer_nav__item {
  @include vp-1023 {
    padding: 20px 0;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 6px 0;
  }
}

.footer_nav__item a {
  margin-right: 33px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-base-white;

  @include vp-1023 {
    margin-right: 23px;
    padding: 20px 0;

    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    height: 100%;
    margin-right: 0;
  }
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 126px;

  @include reset-ul();

  @include vp-1024 {
    margin-left: auto;
  }

  @include vp-1023 {
    width: 93px;
    margin-left: auto;
  }

  @include vp-767 {
    width: 90px;
    min-height: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .footer_socials__item {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 15px;
    padding-top: 5px;
    padding-left: 3px;

    vertical-align: middle;

    @include vp-1023 {
      padding-top: 0;
      padding-left: 2px;
    }

    @include vp-767 {
      padding-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .footer_socials__link {
    padding: 7px;
    padding-left: 0;

    @include vp-1023 {
      padding: 3px;
      padding-left: 0;
    }
  }

  .footer_socials__link svg {
    width: 20px;
    height: 20px;

    vertical-align: middle;
    text-align: left;

    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }
}
