.footer {
  background-color: $color-bg-primary;
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 103px;

  @include vp-1023 {
    padding-top: 50px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
  }
}

.footer__logo {
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;

  @include reset-ul();

  @include vp-767 {
    flex-direction: column;
    width: 100%;
  }
}

.footer_nav__item {
  @include vp-1023 {
    padding: 20px 0;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 6px 0;
  }
}

.footer_nav__item a {
  margin-right: 33px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-base-white;

  @include vp-1023 {
    margin-right: 23px;
    padding: 20px 0;

    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    height: 100%;
    margin-right: 0;
  }
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 112px;

  @include reset-ul();

  @include vp-1024 {
    margin-left: auto;
  }

  @include vp-1023 {
    width: 90px;
    margin-left: auto;
  }

  @include vp-767 {
    width: 87px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.footer_socials__link {
  @include vp-1023 {
    padding: 20px 0;
  }
}

.footer_socials__link svg {
  width: 20px;
  height: 20px;

  vertical-align: middle;
  text-align: left;

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
