.header {
  min-height: 650px;

  color: $color-default-white;

  background-color: $color-bg-header;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  box-shadow: (0 4px 4px $color-shadow);

  @include vp-1024 {
    background-image: url("../../img/header-bg-desktop@1x.webp");

    @include retina () {
      background-image: url("../../img/header-bg-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    min-height: 638px;

    background-image: url("../../img/header-bg-tablet@1x.webp");
    box-shadow: none;

    @include retina () {
      background-image: url("../../img/header-bg-tablet@2x.webp");
    }
  }

  @include vp-767 {
    min-height: 500px;

    background-image: url("../../img/header-bg-mobile@1x.webp");

    @include retina () {
      background-image: url("../../img/header-bg-mobile@2x.webp");
    }
  }
}

.header__container {
  @include vp-1023 {
    height: auto;
  }

  @include vp-767 {
    &--hidden {
      padding-left: 35px;
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    position: relative;

    &--nojs {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.header__toggle {
  display: none;

  cursor: pointer;

  @include vp-767 {
    display: block;
    width: 24px;
    height: 12px;
    padding: 0;

    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;

    &--open {
      background-image: url("../../img/svg/icon-open.svg");
    }

    &--close {
      z-index: 100;

      order: 100;
      width: 13px;
      height: 13px;

      background-image: url("../../img/svg/icon-close.svg");
    }

    &--nojs {
      display: none;
    }
  }
}

.header__promo {
  padding: 0 95px;

  @include vp-1023 {
    padding: 0;
  }
}

.header h1 {
  margin-top: 198px;
  margin-bottom: 10px;

  text-shadow: 0 4px 4px $color-shadow;

  @include vp-1023 {
    margin-top: 217px;

    text-shadow: none;
  }

  @include vp-767 {
    margin-top: 134px;
  }
}

.header__promo p {
  margin-top: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    width: 70%;

    font-weight: 400;
    font-size: 16px;
  }
}
