.promo {
  @include vp-1023 {
    margin-bottom: 48px;
  }
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    align-items: flex-start;
    padding-top: 25px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 12px;
  }
}

.promo__info {
  width: 48%;
  padding-top: 40px;

  @include vp-1023 {
    padding-top: 0;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo h2 {
  margin-top: 16px;

  @include vp-1023 {
    max-width: 205px;
    margin: 0;
  }

  @include vp-767 {
    max-width: 70%;
  }
}

.promo__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.promo__image {
  width: 49%;
  margin-left: 50px;
  background-color: $color-bg-header;

  @include vp-1023 {
    width: 48%;
    margin-top: 10px;
    margin-left: 0;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__image img {
  width: 100%;
  object-fit: cover;
  height: auto;

  @include vp-1023 {
    height: 264px;
  }

  @include vp-767 {
    height: auto;
  }
}
